<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<title>SpringBootBoard</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"/>

<script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>

</head>
<body>

<nav th:replace="navbar :: navbarFragment"></nav>

<th:block layout:fragment="content"></th:block>

<!-- JavaScript는 주로 중간이나 맨밑에 사용 왜냐하면 js에 걸리면 로딩이 오래걸리기때문-->
<th:block layout:fragment="deleteScript"></th:block>

</body>
</html>